<header class="page-header">
  <p class="h2">Angular Advanced User Interface</p>
  <p class="h3">Class Starter Pack</p>
</header>
<article>
  <header>
    <p class="h4">Overview</p>
  </header>
  <p>In this project we will explore:</p>
  <ul>
    <li>
      <p class="h5">Some Angular CDK Stuff</p>
      <ul class="list-unstyled">
        <li><a href="https://material.angular.io/cdk/categories">https://material.angular.io/cdk/categories</a></li>
        <ul class="list-unstyled">
          <li><i class="bi bi-square"></i> A Tour Through the Offerings of the CDK</li>
          <li><i class="bi bi-square"></i> Accessibility</li>
          <li><i class="bi bi-square"></i> Drag and Drop</li>
        </ul>
      </ul>
    </li>
    <li>
      <p class="h5">Some Redux Stuff</p>
      <ul class="list-unstyled">
        <li><i class="bi bi-square"></i> A Little Review</li>
        <li><i class="bi bi-square"></i> Ordering lists</li>
        <li><i class="bi bi-square"></i> Filtering lists</li>
        <li><i class="bi bi-square"></i> Some Routing Stuff - Route Guards, etc.</li>
      </ul>
    </li>
    <li>
      <p class="h5">Form Validator</p>
      <ul class="list-unstyled">
        <li><i class="bi bi-square"></i> Custom Validator Functions</li>
        <li><i class="bi bi-square"></i> Async Validators</li>
      </ul>
    </li>
  </ul>

</article>
<article>
  <header>
    <p class="h4">Other Projects</p>
  </header>
  <p>We will create another project and create a Library Module with components and services.</p>
</article>
